<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="sensor_ip" default="10.0.0.5" />
  <arg name="master_ip" default="10.0.0.1" />
  <arg name="prefix"    default="laser_1" />

  <!-- PILZ -->
  <include file="$(find psen_scan_v2)/launch/psen_scan_v2.launch">
    <arg name="rviz" value="false" />
    <arg name="sensor_ip" value="$(arg sensor_ip)" />
    <arg name="tf_prefix" value="$(arg prefix)" />

    <remap from="$(arg prefix)/scan" to="$(arg prefix)/scan_raw" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 base_link laser_1_mount_link 100"/>
</launch>
