<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="initial_pose_x" default="0.0" />
  <arg name="initial_pose_y" default="0.0" />
  <arg name="initial_yaw" default="0.0" />

  <node pkg="iris_lama_ros" type="loc2d_ros" name="loc2d_ros" output="screen">
    <!-- Localization parameters -->
    <param name="global_frame_id" value="map" />
    <param name="odom_frame_id" value="odom" />
    <param name="base_frame_id" value="base_link" />
    <param name="scan_topic" value="scan" />
    <param name="initial_pos_x" value="$(arg initial_pose_x)" />
    <param name="initial_pos_y" value="$(arg initial_pose_y)" />
    <param name="initial_pos_a" value="$(arg initial_yaw)" />
    <param name="force_update_on_initial_pose" value="false" />
    <param name="transform_tolerance" value="0.5" />
    <param name="use_map_topic" value="true" />
    <param name="first_map_only" value="true" />
    <param name="use_pose_on_new_map" value="false" />
    <param name="d_thresh" value="0.1" />
    <param name="a_thresh" value="0.2" />
    <param name="l2_max" value="0.5" />
    <param name="strategy" value="gn" />

    <!-- Global localization parameters (currently not supported) -->
    <param name="gloc_particles" value="3000" />
    <param name="gloc_iters" value="20" />
    <param name="gloc_thresh" value="0.15" />
    <param name="patch_size" value="32" />
    <param name="do_global_loc" value="false" />

    <!-- Topic names remapping -->
    <remap from="pose" to="amcl_pose" />
  </node>
</launch>
