<?xml version="1.0"?>

<launch>
  <arg name="base_frame" default="base_link"/>
  <arg name="global_frame" default="map"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="scan_topic" default="/laser_1/scan"/>
  
  <node pkg="iris_lama_ros" type="slam2d_ros" name="slam2d_mapping" output="screen">
    
    <!-- Frame names -->
    <param name="scan_topic" value="$(arg scan_topic)" />
    <param name="base_frame_id" value="$(arg base_frame)" />
    <param name="odom_frame_id" value="$(arg odom_frame)" />
    <param name="global_frame_id" value="$(arg global_frame)" />
    
    <!-- Map size / start point -->
    <param name="resolution" value="0.050"/>
    
    <!-- Advertising config --> 
    <param name="map_publish_period" value="3"/>
  </node>
</launch>
