<?xml version="1.0"?>
<launch>
  <arg name="laser1_sensor_ip" value="10.0.0.5" />
  <arg name="laser1_prefix" value="laser_1" />
  <arg name="master_ip" value="10.0.0.1" />

  <!-- SICK nanoScan3 -->
  <node pkg="sick_safetyscanners" type="sick_safetyscanners_node" name="sick_safetyscanners" ns="sick_safetyscanners">
      <param name="sensor_ip" value="$(arg laser1_sensor_ip)" />
      <param name="host_ip" value="$(arg master_ip)" />
      <param name="frame_id" value="$(arg laser1_prefix)" />
      <remap from="/sick_safetyscanners/scan" to="/$(arg laser1_prefix)/scan" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0.04 0 0 0 0 0 base_link laser_1 100" />

  <include file="$(dirname)/starter_kit_core.launch"/>
</launch>
